body {font-size: 14px; color:#555;}
ul {margin:0; padding:0;}
a {color:#026dc5;}


#wrapper-query {background-color:#eae8e0;}
#query {max-width:1160px; margin:0 auto; padding: 16px; box-sizing:border-box;}

#wrapper-results {max-width:1160px; margin:0 auto; padding:0 16px 0; box-sizing:border-box;}
#wrapper-results #list {width:calc(100% - 245px); float:right;  height:400px;}
#wrapper-results #sort {padding:16px 0; border-bottom:solid 1px #ccc;}
#wrapper-results #list #hotels .hotel-card {margin-top:16px; border:solid 1px #eee; padding:8px; border-radius:4px; position:relative}
#wrapper-results #list #hotels .hotel-card .details {display: inline-block; vertical-align: top; margin-left:8px;}
#wrapper-results #list #hotels .hotel-card .address {font-size:12px; display: block; margin-top:4px;}
#wrapper-results #list #hotels .hotel-card .neighbourhood {font-size:12px; display: block; margin-top:4px;}
#wrapper-results #list #hotels .hotel-card .thumbnail {height:80px; width:120px; overflow:hidden; display:inline-block; vertical-align: top; position:relative;}
		#wrapper-results #list #hotels .hotel-card .thumbnail img {width:100%; position:absolute; bottom:0;}
#wrapper-results #list #hotels .hotel-card .price {position:absolute; right:16px; top:0; text-align: right;}

		#location-list {position:absolute; top:0; bottom:0px; left:0px; right:0px; width:200px;  background-color:#fff; border-right:8px #fff solid; overflow-y: scroll; box-sizing: border-box; padding:8px; background-color:#eee;}

		
    	.container {margin-bottom:16px; padding:0 8px;}
    	#price {background-color:  #eae8e0; padding:8px 24px 16px ;}
    	.container h3 {font-size:14px; margin:8px 0;}
    	.container ul.tags {margin:0; padding:0;}
    	.container ul.tags li {list-style-type: none; display:inline-block; margin:0; padding:4px 8px; background-color:#eee; border-radius:4px; font-size:14px; text-transform: uppercase;}
    	h1 {margin:0; padding:0; font-size: 20px}

    	#guide:hover {cursor:pointer;}

    	.fs {display:inline-block; padding:4px 8px; background-color:#ddd;}
    	.hotel-card {min-height: 90px}
    	.hotel-card button {background-color:#026dc5; color:#fff; font-size:14px; padding:4px 8px; border-radius: 4px; border:0; border-bottom:solid #000 2px; margin:8px 0;}

/* Overlay */
#overlay {position:fixed; top:0; left:0; right:0; bottom:0; background-color:#000; opacity:0.8;}
#overlay:hover {cursor:pointer;}

/* guides */
#guides {}

.labels {background-color:#026dc5; color:#fff; font-weight:bold; font-size:12px; padding:2px 4px; border-radius:2px;}
.labels-landmarks {background-color:#fff; color:#000; font-weight:bold; font-size:8px; padding:2px 2px; border-radius:50%; border-bottom:solid 1px #999;}

#neighbourhoods {overflow-y: scroll; position:absolute; left:16px; top:0; bottom:0; width:320px; box-sizing:border-box; background-color:#f5f4f0; }
#neighbourhood-header, #neighbourhood-content-header {position:absolute; top:0; left:0; right:0; min-height:20px; background-color: #026dc5; color:#fff; box-sizing:border-box; padding:8px 8px 0;}
#neighbourhood-content-header {display:none;}
#neighbourhood-list {box-sizing:border-box; position:absolute; top:40px; bottom:0; left:0; right:0; overflow-y:scroll; padding:8px;}

.neighbourhood-card {overflow:hidden; padding:0; border:solid 1px #ddd; background-color:#fff; margin-bottom:8px;}
.neighbourhood-card .image {width:30%; overflow:hidden; height:80px; float:left; box-sizing: border-box; display:none;}
.neighbourhood-card .image img {height:100%;}
.neighbourhood-card .content { box-sizing: border-box; padding:8px 16px;}
.neighbourhood-card h3 {margin:8px 0 4px; padding:0; font-size:12px; }
.neighbourhood-card .content ul {list-style-type: none; margin:0; padding:0;}
.neighbourhood-card .content ul li {font-size:12px; margin-bottom:6px;}
.neighbourhood-card .content ul.tags li {font-size:12px; font-weight:normal;}
.neighbourhood-card .content ul.landmarks li {position:relative; padding-left:16px;}
.neighbourhood-card .content ul.landmarks li i {position:absolute; top:0; left:0; font-size:10px;}

.neighbourhood-card  .name {margin-bottom:0; color:#026dc5; padding:8px 16px; font-weight:bold; border-bottom:solid 1px #eee; }
.neighbourhood-card  .name .num { font-size:12px; display:inline-block; vertical-align:top; background-color:#026dc5; color:#fff; padding:4px 6px; margin-right:8px; border-radius:2px;}
.neighbourhood-card  .name .title { font-size:14px; display:inline-block; vertical-align:top; padding:2px 0 0 0;}

.neighbourhood-card button {background-color:#026dc5; color:#fff; font-size:12px; padding:4px 8px; border-radius: 4px; border:0; border-bottom:solid #000 2px; margin-bottom:8px;}
.neighbourhood-card button:hover {cursor:pointer;}

.shopfor {background-color:#f5f4f0; position:absolute; bottom:0; left:0; right:0; padding:16px 8px; display:none;}
.shopfor button {background-color:#026dc5; color:#fff; font-size:14px; padding:4px 8px; border-radius: 4px; border:0; border-bottom:solid #000 2px;}
.shopfor button:hover {cursor:pointer;}

.tags {margin:0; padding:0;}
.tags li {display:inline-block; list-style-type: none; padding:0; margin:0; padding:0; margin-right:16px; border-radius:4px; font-size:13px; font-weight:bold; margin-bottom:4px;}

#neighbourhood-content {box-sizing:border-box; background-color:#fff; position:absolute; top:40px; bottom:0; left:0; right:0; overflow-y:scroll;}
#neighbourhood-content h3 {margin:0 0 8px 0; padding:0;}
#neighbourhood-content ul.landmarks {list-style-type: none;}
#neighbourhood-content ul.landmarks li {margin-bottom:8px; font-size:13px;}

#neighbourhood-content ul.landmarks li .type {font-size:12px; color:#999; }

#landmark-list {box-sizing:border-box; position:absolute; top:100px; bottom:0; left:0; right:0; overflow-y:scroll; padding:8px;}
.landmark-card {overflow:hidden; padding:12px; border:solid 1px #ddd; background-color:#fff; margin-bottom:8px;}
.landmark-card .type {margin:0; padding:0; color:#555; font-size:12px; }
.landmark-card h3 {margin:4px 0; padding:0;}


#hotel-card {position:absolute; top:50px; left:12px; background-color:#fff; display:none; min-height:100px; width:238px; -webkit-box-shadow: 2px 2px 5px 0px rgba(170,170,170,1);
-moz-box-shadow: 2px 2px 5px 0px rgba(170,170,170,1);
box-shadow: 2px 2px 5px 0px rgba(170,170,170,1);}
        #hotel-card .thumb {max-height:200px;}
        #hotel-card .thumb img {max-width:100%;}
        #hotel-card .content { padding:8px; box-sizing: border-box;}
        #hotel-card .content #hotelName {display: block; font-size:16px;}
        #hotel-card .content #stars {margin-bottom:4px; color:#d41200;}
        #hotel-card .content #location {font-size:12px; margin-bottom:4px;}
        #hotel-card .content #qual {font-size: 12px;}
        #hotel-card .content #qual #badge {font-weight: bold;}
        #hotel-card .content #qual #number {font-weight: bold;}

        #hotel-card .price {padding:8px; text-align:right;}
        #hotel-card .price .total {color:#d41200; font-weight:bold; font-size:24px; margin-bottom:4px;}
        #hotel-card .price .price-description {font-size:13px; margin-bottom:4px;}
        #hotel-card .price button {background-color:#026dc5; color:#fff; font-size:14px; padding:4px 8px; border-radius: 4px; border:0; border-bottom:solid #000 2px; margin:8px 0;}

        #hotel-card .close:hover {}

/*.neighbourhood-card h2 {margin:0; padding:8px; background-color:#000; color:#fff; font-size:14px;}
.neighbourhood-card h3 {margin:0 0 4px; padding:4px 0; color:#000;  font-size:14px;}
.neighbourhood-card {margin-bottom:8px; padding:8px 0; border-bottom:solid 1px #eee;}

.neighbourhood-card .image {position:relative; display:inline-block; vertical-align:top;}
.neighbourhood-card .image img.thumb {}
.neighbourhood-card .image img.map {display:inline-block; vertical-align: top}
.neighbourhood-card .name {color:#000; font-weight: bold; font-size:18px; position:absolute; top:12px; left:0px; padding:8px;  max-width:200px;}
.neighbourhood-card .content {box-sizing: border-box; padding-left:8px; width:600px;}
.tags {margin:0; padding:0;}
.tags li {list-style-type: none; display:inline-block; padding:0; margin:0; background-color:#eee; padding:4px 8px; margin-right:4px; border-radius:4px; font-size:14px; font-weight:bold; margin-bottom:8px;}
.neighbourhood-card p.description {line-height: 20px; padding-right:16px;}
.landmarks li {list-style-type: none; margin-bottom:4px;}
.prices li {list-style-type: none; margin-bottom:4px;}







