
body {font-family:arial; margin:0; padding:0; font-size: 14px; color:#333;}
h1, h2, h3, h4, ul {padding:0; margin:0;}
ul {list-style-type: none;}

#header {background-color:#d41200;}
#nav {background-color:#333;}
#query {background-color:#eae8e0;}
#filters {background-color: #f5f4f0;}
#tools {background-color: #f5f4f0;}
button {background-color: #1976D2; color:#fff; border:0; font-size: 16px;}
button.disabled {background-color: #eee; border:solid 1px #ccc; color:#CCC;} 

ul#star-rate li { position:relative; padding:0px 0 0 16px; margin-bottom: 4px}
ul#star-rate li input {position:absolute; top:0; left:0;}
ul#star-rate i {font-size:16px; width:16px; color:#d32f2f;}

input[type="text"] {font-size: 14px; padding:4px;}

@media only screen and (min-width: 760px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 960px) {
	#header {height:56px; padding-top:8px; box-sizing: border-box;}
	#nav {height:32px;}
	#nav ul li {float:left; color:#fff; margin-right: 24px; padding-top:8px;}
	#nav ul li.right {float:right;}
	
	#query {height:82px; box-sizing: border-box; padding:12px; position:relative;}
	#query img {display:inline-block; height:60px; margin-right:12px;}
	#query div.search {display:inline-block; vertical-align: top; padding-top:8px;}
	#query h1 {margin-bottom: 4px; font-size:20px;}
	#query .dates {font-size:16px;}

	#tools {height:56px; border-bottom:solid 1px #fff; padding:12px; box-sizing: border-box;}
	#tools label {display:inline-block; vertical-align: top; padding-top:7px; margin-right: 4px}
	#tools input {width:240px; display:inline-block; vertical-align: top;}
	#tools button {font-size: 14px; font-weight: bold; padding:4px 8px; display:inline-block; vertical-align: top; margin-top:0px;}

	.wrapper {max-width: 1260px; margin:0 auto; box-sizing: border-box;}

	
	#map {position:fixed; top:228px; left:245px; right:0px; bottom:0px;}
	
	#filters {position:fixed; top:224px; left:0; bottom:0; width:245px; overflow-y: scroll; }
	#filters .block {box-sizing: border-box; border-bottom:solid 1px #ddd; padding:12px;}
	#filters .block h2 {font-size:20px; margin-bottom: 4px;}
	#filters .block .total {font-size: 13px; font-weight: bold;}
	#filters .block label {font-size:16px; margin-bottom: 8px; font-weight: bold; display:block;}

	

	.range {position:relative; height:26px;}
	.range .bar {height:4px; background-color: #1976D2; position:absolute; top:12px; left:4px; right:4px;}
	.range .handle {width:26px; height:26px; border-radius:50%; border:solid 2px #1976D2; background-color:#ffffff; 
		-webkit-webkit-box-shadow: 0px 1px 1px 0px rgba(82,82,82,0.8);
		-moz-box-shadow: 0px 1px 1px 0px rgba(82,82,82,0.8);
		box-shadow: 0px 1px 1px 0px rgba(82,82,82,0.8);}
	.range .left {position:absolute; top:0; left:0;}
	.range .right {position:absolute; top:0; right:0;}
}
@media only screen and (min-width: 1160px) {}