/* reset */
body {background-color:#eee;}
h1, h2, h3, h4 {margin:0; padding:0;}


#page-wrapper {background-color:#eee; padding-bottom:50px;}
.overlay {position:fixed; top:0; bottom:0; left:0; right:0; background-color:#000; opacity:0.8; display:none;}

/* search */
#sqm {background-color:#fff; border-bottom:solid 1px #ddd; padding:12px;}
#sqm.fixed {position:fixed; top:0; left:0; right:0; z-index:1000}
#sqm .destination {font-size: 18px; font-weight:bold;}
#sqm .description {font-size: 14px;}
#sqm .requirements {padding:8px 0 0; font-size: 14px; border-top:solid 1px #ddd; margin-top:8px;}
#sqm .requirements a.add span {display: inline-block; vertical-align: middle}
#sqm .requirements a.add span.material-icons {font-size: 18px;}
.requirements-list {display:none; position:relative; padding:8px 0 0; font-size: 14px; border-top:solid 1px #ddd; margin-top:8px;}
.requirements-list a.item {display: inline-block; margin-right:12px; color:#000;}
.requirements-list ul {list-style-type: none; padding:0; margin:0; overflow:hidden;}
.requirements-list ul li {float:left; margin-right:12px; font-size: 14px;}
.requirements-list a.edit {position:absolute; display:block; right:0; top:0; padding:8px 0px 8px 0; font-size:14px; width:40px; border-left:solid 1px #ddd; text-align:center;}

/* Property Listing */
#property-list {padding-top:8px;}
#property-list ul {list-style-type: none; margin:0; padding:0; overflow:hidden;}
.property-wrapper {background-color:#fff; margin-bottom:12px; border-bottom:solid 1px #ddd; border-bottom:solid 1px #ddd; padding-top:12px;}
.property-details {padding:12px; box-sizing: border-box; min-height:60px}
.thumb {overflow:hidden; height:120px; position:relative; margin:0 12px;}
.thumb img {position:absolute; bottom:0;}

.property-details .name {font-size: 16px; font-weight: bold; margin-bottom:4px;}
.property-details .location {font-size:14px; margin-bottom:4px;}
.property-details .location li {float:left;}
.property-details .location .neighbourhood {font-weight:bold;}
.property-details .facilities {font-size:14px; margin-bottom:8px;}
.property-details .facilities ul li {float:left; margin-right:8px; border-bottom: dotted 1px #ccc;}
.property-details .facilities ul li.yes { color:#028017;}
.property-details .facilities ul li.no {text-decoration: line-through; color:#ccc;}

.property-details .reviews {width:60%;}
.property-details .reviews > div {display:inline-block; vertical-align: top;}
.property-details .reviews > div span {display: block;}
.property-details .reviews > div.review-score {background-color:#eee; padding:8px; font-size:18px; font-weight:bold;border-radius: 8px; margin-right:2px; margin-right:8px;}
.property-details .reviews > div .review-string {font-size:16px; font-weight:bold; margin-bottom:2px}
.property-details .reviews > div .review-count {font-size:12px;}

.property-details .price {width:40%; text-align: right;}
.property-details .price .price-display{font-size:20px; font-weight:bold; margin-bottom:2px;}
.property-details .price .info {font-size:12px;}

.two-col {overflow:hidden; margin-bottom:8px;}
.two-col > div {float:left; box-sizing: border-box;}

.property-tools {border-top:solid 1px #ddd; padding:8px 12px;}
.property-tools ul {list-style-type: none; margin:0; padding:0; overflow:hidden;}
.property-tools ul li {float:left; font-size:14px; margin-right:12px;}
.property-tools ul li:last-child {float:right; margin-right:0; color:#156BC1;}
.property-tools ul li .material-icons {font-size:24px; color:#999;}
.property-tools ul li:last-child a {display:inline-block; vertical-align: top; margin-top:2px}
.property-tools ul li:last-child .material-icons {color:#156BC1;}
.favourited {display:none;}
.property-tools ul li a.favourited .material-icons {color: #D32F2F}

/* tools menu */
.tools-menu {position:fixed; bottom:0; left:0; right:0; background-color:#fff;; padding:20px; border-top-left-radius: 16px; border-top-right-radius: 16px; display:none;}
.tools-menu ul {list-style-type: none; margin:0; padding:0;}
.tools-menu ul li {margin-bottom:12px;}
.tools-menu ul li span {display:inline-block; vertical-align: top;}
.tools-menu ul li span.label {padding-top:2px; padding-left:4px;}

/* single facility menu */
.single-facility-modal {position:fixed; bottom:0; left:0; right:0; background-color:#fff;; padding:20px; border-top-left-radius: 16px; border-top-right-radius: 16px; display:none;}
.single-facility-modal > div {margin-bottom:12px;}
.single-facility-modal .facility-name {font-size:18px; font-weight:bold;}

/* edit requirements tool */
#edit-requirements {position:fixed; top:0; left:0; right:0; bottom:0; z-index:1001; background-color:#fff; display:none;}

#edit-requirements .content {position:absolute; left:0; right:0; top:40px; bottom:50px; overflow-y: scroll; padding:12px; }
#edit-requirements .content h3 {}
#edit-requirements .content p {margin: 4px 0 12px; padding:0; line-height:1.2em}

#edit-requirements .filter-group {border-top: solid 1px #ddd; padding:12px 0; position:relative}
#edit-requirements .filter-group .material-icons {position: absolute; right:12px; top:10px; color:#156BC1;}
#edit-requirements .filter-group .title {font-weight:bold;}
#edit-requirements .filter-group .not-set {margin-top:4px; font-size:14px; color:#999;}
#edit-requirements .ctas {position:absolute; bottom:0; left:0; right:0; height:50px; border-top: solid 1px #ddd; padding-top:6px; padding-right:12px; box-sizing: border-box; text-align: right}
button.apply {background-color:#156BC1; color:#fff; border:0; font-size:16px; padding:8px 20px; border-radius:8px; font-weight:bold;}



/* Show me more like this */
#more-like-this {position:fixed; top:0; left:0; right:0; bottom:0; background-color:#fff; display:none; z-index:1000;}
#more-like-this .content {position:absolute; left:0; right:0; top:40px; bottom:50px; overflow-y: scroll; padding:12px; }
#more-like-this .ctas {position:absolute; bottom:0; left:0; right:0; height:50px; border-top: solid 1px #ddd; padding-top:6px; padding-right:12px; box-sizing: border-box; text-align: right}
#more-like-this button.apply {background-color:#156BC1; color:#fff; border:0; font-size:16px; padding:8px 20px; border-radius:8px; font-weight:bold;}
#more-like-this .property {background-color:#eee; margin:-12px; padding:12px;}
#more-like-this .property-name {font-weight:bold; display:inline-block; width: calc(100% - 96px); vertical-align: top;}
#more-like-this .property-thumb {width:90px; height:60px; overflow:hidden; display:inline-block; vertical-align: top;}
#more-like-this .property-thumb img {height:60px;}
#more-like-this .filter-group {border-top: solid 1px #ddd; padding:12px 0; position:relative}

/* favourite confirmed */
.favourite-confirmed {border-top:solid 1px #ddd; padding:12px; font-size:13px; display:none;}
.favourite-confirmed ul li {display:inline-block; border:solid 1px #156BC1; color:#156BC1; padding:4px 12px; margin-top:8px; border-radius:16px; margin-right:4px}

.row {overflow:hidden;}
.row > div {box-sizing: border-box; padding:8px 0}
.row .cell-1 {float:left; width:calc(100% - 100px);}
.row .cell-2 {float:left; width:50px; text-align:center;}
.row .cell-3 {float:left; width:50px; text-align:center;}


/* collections */
div.collections {padding:12px 0 12px 0px;}
div.collections h4 {margin:0 0 8px 12px; padding:0;}
div.collections-menu {overflow: auto; white-space: nowrap;}
div.collections-menu .theme {display: inline-block; vertical-align: top; margin-right:4px; background-color: white; border:solid 1px #ddd; width:120px; height:80px; border-radius:8px; white-space: normal; font-size:14px; padding:8px;}
div.collections-menu .selected {border:solid 1px #000;}
div.collections-menu .theme:first-child {margin-left:12px}

/* Modal styles */
.modal-header {position:absolute; top:0; left:0; right:0; height:40px; border-bottom:solid 1px #ddd; box-sizing: border-box; padding: 10px 12px;}
.modal-header h4 {margin:0; padding:0; font-size:18px;}
.modal-header a {position:absolute; right:12px; font-size:18px; top:10px;}


@media screen and (min-width: 600px) {
  #page-wrapper {width:320px; margin:0 auto; background-color:#eee; border-left:solid 5px #ccc; border-right:solid 5px #ccc;}
  .overlay {position:fixed; top:0; bottom:0; left:50%; width:320px; margin-left: -160px; background-color:#000; opacity:0.8; display:none;}
  .tools-menu {position:fixed; bottom:0; left:50%; width:320px; margin-left: -160px; background-color:#fff; padding:20px; border-top-left-radius: 16px; border-top-right-radius: 16px; display:none; box-sizing:border-box;}
  #edit-requirements {position:fixed; top:0; left:50%; width:320px; margin-left: -160px; bottom:0; z-index:1001; background-color:#fff; display:none;}
  #more-like-this {position:fixed; top:0; left:50%; width:320px; margin-left: -160px;  bottom:0; background-color:#fff; z-index:1000;}
  .single-facility-modal {position:fixed; bottom:0; left:0; left:50%; width:320px; margin-left: -160px; background-color:#fff;; padding:20px; border-top-left-radius: 16px; border-top-right-radius: 16px; display:none; box-sizing: border-box;}

}
