#page-wrapper {background-color:#eee;}
@media screen and (min-width: 600px) {
  #page-wrapper {width:320px; margin:0 auto; background-color:#eee;}
}

#property-list {padding-top:20px;}
#property-list ul {list-style-type: none; margin:0; padding:0; overflow:hidden;}
.property-wrapper {background-color:#fff; margin-bottom:12px; border-bottom:solid 1px #ddd; border-bottom:solid 1px #ddd; padding-top:12px;}
.property-details {padding:12px; box-sizing: border-box; min-height:60px}
.thumb {overflow:hidden; height:120px; position:relative; margin:0 12px}
.thumb img {position:absolute; bottom:0;}

.property-details .name {font-size: 14px; font-weight: bold; margin-bottom:4px;}
.property-details .location {font-size:12px; margin-bottom:4px;}
.property-details .facilities {font-size:12px; margin-bottom:8px;}
.property-details .facilities ul li {float:left; margin-right:8px;}

.property-details .reviews {width:60%;}
.property-details .reviews > div {display:inline-block; vertical-align: top;}
.property-details .reviews > div span {display: block;}
.property-details .reviews > div.review-score {background-color:#eee; padding:8px; font-size:16px; font-weight:bold;border-radius: 8px; margin-right:2px;}
.property-details .reviews > div .review-string {font-size:14px; font-weight:bold; margin-bottom:2px}
.property-details .reviews > div .review-count {font-size:12px;}

.property-details .price {width:40%; text-align: right;}
.property-details .price .price-display{font-size:16px; font-weight:bold; margin-bottom:2px;}
.property-details .price .info {font-size:12px;}

.two-col {overflow:hidden; margin-bottom:8px;}
.two-col > div {float:left; box-sizing: border-box;}

.property-tools {border-top:solid 1px #ddd; padding:8px;}
.property-tools ul {list-style-type: none; margin:0; padding:0; overflow:hidden;}
.property-tools ul li {float:left; font-size:14px; margin-right:12px;}
.property-tools ul li:last-child {float:right; margin-right:0; color:#156BC1;}
.property-tools ul li .material-icons {font-size:20px; color:#999;}
.property-tools ul li:last-child a {display:inline-block; vertical-align: top; margin-top:2px}
.property-tools ul li:last-child .material-icons {color:#156BC1;}
