@media screen and (min-width: 600px) {
	#page-wrapper {max-width:360px; margin:auto; background-color:#eee;}
}
@media screen and (min-width: 750px) {}
@media screen and (min-width: 850px) {}
@media screen and (min-width: 960px) {}
@media screen and (min-width: 1160px) {}

body {margin:0; padding:0; font-family: arial; color:#555;}
body.disable {margin: 0; height: 100%; overflow: hidden}
a {text-decoration: none; color:#156bc1;}
a:visited {text-decoration: none; color:#156bc1;}
button {background-color:#156bc1; color:#fff; padding:8px 16px; border:0; font-size:14px; font-weight:bold;}
ul {padding:0; margin:0 0 0 17px;}

#page-wrapper {background-color:#f5f4f0; min-height: 500px;}
#header {background-color:#d32f2f; padding:8px 12px;}
#sqm {background-color: #eae8e0; padding:12px;}
#sqm a {font-size: 12px; display:block;}
#sqm .search {font-size: 12px; margin-top:4px;}

#summary { padding:12px;}
#summary .name {font-weight:bold; margin-bottom:4px;}
#summary .address {font-size:12px; margin-bottom:8px;}
#summary .cgs {font-size: 14px;}
#photo {position:relative;}
#photo img {width:100%}
#photo a {position:absolute; display:block; padding:8px 8px; background-color:#fff; bottom:12px; right:8px; border-radius:4px;}

#price {min-height:100px; padding:12px;}
#price button {background-color:#156bc1; color:#fff; width:100%; font-size: 20px; padding:8px; margin-top:8px; border-radius:4px; border-bottom:2px solid #000;}
#price .total-price {margin-bottom: 4px; font-size: 24px; font-weight: bold;}
#price .total-price .strikethrough {}
#price .info {font-size: 13px; margin-bottom:4px;}


#amenities-main {overflow:hidden; padding:12px; border-bottom:solid 1px #ddd;}
#amenities-main > div {float:left; width:33%;}
#amenities-main > div > span {font-weight:bold; font-size:14px;}
#amenities-main ul li {font-size: 13px; margin-top:4px;}

#location {padding:12px 12px 0;}
#location .map {box-sizing: border-box; font-size:20px; color:#ccc; border:solid 1px #ddd; border-radius:4px;}

#reviews {padding:12px 12px 0; }
#reviews .wrapper {background-color:#fff; padding:12px 12px 8px; border-radius:4px;}
#reviews .wrapper .score {font-size: 20px; font-weight:bold; margin-bottom: 4px;}
#reviews .wrapper .see-reviews {font-size:13px;}
#reviews .wrapper .bars {overflow: hidden; margin-top:8px;}
#reviews .wrapper .bars .label {float:left; width:70px; font-size: 13px; font-weight:bold;}
#reviews .wrapper .bars .bar {float:left; width:calc(100% - 70px); height:14px; background-color: #eee;}
#reviews .wrapper .bars .bar > span {display:block; background-color:#388e3c; height:14px;}
#reviews .wrapper .ta {margin-top:12px; overflow:hidden; border-top:solid 1px #ddd; padding-top:12px;}
#reviews .wrapper .ta .logo img {width:30px; display:block; margin-left:4px}
#reviews .wrapper .ta .bullet-full {display:inline-block; height:7px; width:7px; background-color:#00AF87; border-radius:4px; margin-right:-3px;}
#reviews .wrapper .ta .bullet-empty {display:inline-block; height:7px; width:7px; background-color:#fff; border-radius:4px; margin-right:-3px; border:solid 1px #00AF87; box-sizing: border-box;}
#reviews .wrapper .ta .num-reviews {font-size:13px; font-weight: bold;}
#reviews .wrapper .ta .disclaimer {font-size:11px; color:#999; margin-top:4px;}

#rewards {padding:12px; background-color:#7b1fa2; margin:12px; color:#fff; border-radius:4px;}
#rewards .title {font-weight:bold; margin-bottom:8px;}
#rewards .info {font-size: 13px; margin-top:4px;}


#rooms {border:solid 3px #555; padding-bottom:12px;}
#rooms .sqm-2 {border-bottom:solid 3px #555; box-sizing: border-box; padding:12px; margin-bottom:12px}
#rooms .sqm-2 .date {float:left; width:calc(50% - 4px); background-color:#fff; padding:4px; box-sizing: border-box; height:100px;}
#rooms .sqm-2 .date .title {border-bottom:1px solid #ddd; font-size:14px; padding-bottom:4px; color:#999;}
#rooms .sqm-2 .date .ddmmyyyy {color:#156bc1; font-weight: bold; margin-top:8px;}
#rooms .sqm-2 .date .day {color:#999; margin-top:4px; font-size:13px;}
#rooms .sqm-2 .date .nights {color:#999; margin-top:4px; font-size:13px;}

#rooms .name {background-color:#555; color:#fff; font-size: 18px; padding: 6px 12px; font-weight: bold;}
#rooms .room {border:solid 1px #ddd; margin:0 12px;}
#rooms .room .description {background-color:#eae8e0; height:60px; padding:8px; position:relative;}
#rooms .room .description .room-name {font-size:14px; font-weight: bold; margin-bottom:4px;}
#rooms .room .description .sleeps {font-size: 13px; margin-bottom: 8px;}
#rooms .room .description a {font-weight:bold; font-size: 13px;}
#rooms .room .description .thumb{position:absolute; top:8px; bottom:8px; right:8px; width:84px; background-color:#555;}
#rooms .room .description .thumb img {width:100%;}
#rooms .room .rate {background-color:#fff; padding:8px;}
#rooms h2 {font-size:16px; margin:0 20px 4px;}
#rooms p {font-size:12px; margin:0 20px 12px; color:#999;}

#rooms .recommended {padding:0 12px; margin-bottom:12px;}
#rooms .recommended .title {background-color:#388e3c; font-weight:bold; padding:4px 8px; color:#fff;}
#rooms .recommended .wrapper {background-color:#fff; padding:12px; display:none; border:solid 1px #ddd;}
#rooms .recommended .room-option {margin-bottom:8px;} 
#rooms .recommended .room-option .amount {display:inline-block; vertical-align: top; width:30px;}
#rooms .recommended .room-option .rate-description {display:inline-block; vertical-align: top; width:calc(100% - 142px)}
#rooms .recommended .room-option .rate-description .room-name {}
#rooms .recommended .room-option .rate-description .info {margin-top:4px; font-size:13px;}
#rooms .recommended .room-option .price {display:inline-block; vertical-align: top; width:100px; text-align:right;}
#rooms .recommended .book {border-top:solid 1px #ddd; padding:12px 0 0}
#rooms .recommended .book .occupancy {display: inline-block; font-weight:bold; width:50%; }
#rooms .recommended .book .total-price {display: inline-block; font-weight:bold; width:calc(50% - 8px); text-align:right;}
#rooms .recommended .book button {margin-top:8px; width:100%; border-radius:4px; border-bottom:2px solid #000;}

.rate {border-top:solid 1px #ddd;}
.rate .rate-details {margin-bottom:8px;}
.rate .rate-details .non-refundable {font-size:14px; margin-bottom: 8px; font-weight:bold;}
.rate .rate-details .free-cancellation {font-size:14px; margin-bottom: 8px; font-weight:bold; color:#388e3c;}
.rate .rate-details .free-cancellation .expiry {font-size:12px; margin-top:4px; font-weight:normal; color:#999;}
.rate .rate-details .wifi {font-size:13px; margin-bottom: 4px; font-weight:bold; color:#388e3c;}
.rate .rate-options-wrapper {position:relative}
.rate .rate-options {overflow:hidden; border:solid 1px #ddd; vertical-align:top; position: relative; background-image: linear-gradient(to bottom, rgba(232, 232, 232, 0.4), #ffffff);}
.rate .label {padding:8px 0 4px 8px; font-size:12px; color:#999}
.rate .price {float:right; width:calc(100% - 180px); text-align:right; padding:0px 30px 8px 0; box-sizing: border-box; font-weight:bold;}
.rate .occupancy {float:left; width:180px; padding:0 8px 8px 8px; box-sizing: border-box; font-size:14px; }
.rate .arrow {position:absolute; right:0; bottom:0;}
.rate-occupancy-list {position:absolute; top:55px; background-color:#fff; width:calc(100% - 2px); border:solid 1px #ddd; display:none; -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);}
.rate-occupancy-list > div {padding:8px; border-bottom:solid 1px #ddd; background-color:#fff; position:relative;}
.rate-occupancy-list .r-price {position:absolute; right:30px; top:8px; font-weight:bold;}

.rate .rate-options-wrapper .add-button {text-align:right; margin-top:8px;}
.rate .rate-options-wrapper .add-button .add {width:50px; padding:6px 0 4px; text-align:center; border-radius:4px; border-bottom:2px solid #000;}

#basket {position:fixed; bottom:0; left:0; right:0; padding:12px; background-color:#156bc1; display:none; color:#fff; z-index:10002;}
.rooms-selected .rate-selected {margin-bottom:8px; position:relative;}
.rooms-selected .rate-selected a.remove {position:absolute; right:0px; top:0; color:#fff;}
.rooms-selected .rate-selected .price {display:none;}
#basket-modal {position:fixed; top:0; left:0; right:0; bottom:0; background-color:#fff; padding:20px; display:none; z-index:10003;}

#basket .rooms-selected {border-bottom:solid 1px #fff; font-size:14px;}
#basket .in-basket {padding-top:8px; overflow:hidden;}
#basket .in-basket .total-price {float:left; width:50%; font-size:20px; font-weight:bold;}
#basket .in-basket .book-rooms {float:right; width:50%; text-align:right;}
#basket .in-basket .book-rooms button {background-color:#fff; padding:8px; color:#156bc1; border-radius:4px;}

#whats-around {}
#amenities-all {padding:12px; margin-top:12px;}
#amenities-all .amenities {border-top:solid 1px #ddd; padding:12px 0;}
#amenities-all h2 {margin:0 0 8px 0; padding:0; font-size: 18px}
#amenities-all h3 {margin:0 0 8px 0; padding:0; font-size: 14px}
#amenities-all h4 {margin:0 0 8px 0; padding:0; font-size: 13px}
#amenities-all p {margin:0 0 8px 0; padding:0; font-size: 12px; line-height: 16px;}
#amenities-all ul {margin-bottom:8px;}
#amenities-all ul li {margin:0; padding:0; font-size: 12px; margin-bottom:4px;}


#overlay {position:fixed; top:0; bottom:0; left:0; right:0; background-color:#000; opacity:0.8; display:none;}
#overlay-room {position:fixed; top:0; left:0; bottom:0; right:0; display:none;}
#overlay-room .title {position:absolute; top:0; left:0; right:0; height:40px; background-color:#eee; padding:12px 0 0 12px;}
#overlay-room .title .room-name {font-weight:bold;}
#overlay-room .body {position:absolute; top:40px; left:0; right:0; bottom:0; overflow-y: scroll; background-color:#fff; padding:12px;}
#overlay-room .title a {position:absolute; top:12px; right:8px;}
#overlay-room .body .details {}
#overlay-room .body .details .image {margin-bottom:12px;}
#overlay-room .body .details .sleeps {font-size:14px; margin-bottom:12px;}
#overlay-room .body .details .bed-choices {margin-bottom: 12px}
#overlay-room .body .details .bed-choices h3 {margin:0 0 4px 0; padding:0; font-size:18px;}
#overlay-room .body .details .bed-choices h4 {margin:0 0 4px 0; padding:0; font-size:14px;}
#overlay-room .body .details .bed-choices ul {margin-bottom:8px;}
#overlay-room .body .details .bed-choices ul li {font-size: 13px}
#overlay-room .body .details .bed-choices .bed-type {font-weight:bold; margin-bottom:4px; font-size:14px;}
#overlay-room .body .details .bed-choices .size {font-size:14px;}
#overlay-room .body .details .categories > div {font-size:13px; margin-bottom:4px;}


#overlay-gallery {position:fixed; top:0; left:0; bottom:0; right:0; color:#fff; display:none;}
#overlay-gallery .header {position:absolute; top:0; left:0; right:0; height:40px; border-bottom:solid 1px #fff;}
#overlay-gallery .header .title { padding:12px 12px 0; }
#overlay-gallery .header a.close {position:absolute; display:block; top:10px; right:12px; font-size:20px; color:#fff;}
#overlay-gallery .body {position:absolute; top:40px; left:0; right:0; bottom:0; overflow-y: scroll; padding:12px;}
#overlay-gallery .body > div {margin-bottom:12px;}
#overlay-gallery .body > div img {width:100%;}
