body {font-size: 14px; color:#555; background-color:#f5f4f0;}
ul {margin:0; padding:0;}
a {color:#026dc5;}
body.modal-open {overflow: hidden;}


#wrapper-query {}
#query {max-width:1160px; margin:0 auto; padding: 16px; box-sizing:border-box;}

#wrapper-results {max-width:1160px; margin:0 auto; padding:0 16px 0; box-sizing:border-box;}
#wrapper-results #filters {width:225px; float:left; background-color:#f5f4f0;}
#wrapper-results #list {width:calc(100% - 245px); float:right;  height:400px;}
#wrapper-results #sort {padding:16px 0; border-bottom:solid 1px #ccc;}

.hotel-card {margin-top:16px; border:solid 1px #eee; padding:8px; border-radius:4px; position:relative; background-color: #fff;}
.hotel-card .details {display: inline-block; vertical-align: top; margin-left:8px;}
.hotel-card .address {font-size:12px; display: block; margin-top:4px;}
.hotel-card .neighbourhood {font-size:12px; display: block; margin-top:4px;}
.hotel-card .thumbnail {width:250px; display:inline-block; vertical-align: top;}
.hotel-card .thumbnail img {width:100%; position:absolute; bottom:0;}
.hotel-card .price {position:absolute; right:16px; top:0; text-align: right;}

		#location-list {position:absolute; top:0; bottom:0px; left:0px; right:0px; width:200px;  background-color:#fff; border-right:8px #fff solid; overflow-y: scroll; box-sizing: border-box; padding:8px; background-color:#eee;}

		
    	.container {margin-bottom:16px; padding:0 8px;}
    	#price {background-color:  #eae8e0; padding:8px 24px 16px ;}
    	.container h3 {font-size:14px; margin:8px 0;}
    	.container ul.tags {margin:0; padding:0;}
    	.container ul.tags li {list-style-type: none; display:inline-block; margin:0; padding:4px 8px; background-color:#eee; border-radius:4px; font-size:14px; text-transform: uppercase;}
    	h1 {margin:0; padding:0; font-size: 20px}

    	#guide:hover {cursor:pointer;}

    	.fs {display:inline-block; padding:4px 8px; background-color:#ddd;}
    	.hotel-card {min-height: 90px}
    	.hotel-card button {background-color:#026dc5; color:#fff; font-size:14px; padding:4px 8px; border-radius: 4px; border:0; border-bottom:solid #000 2px; margin:8px 0;}
.card {background-color: #fff; border-radius: 4px; min-height:100px; margin-bottom:16px;}
.card {padding:8px 8px 8px; overflow:hidden; }
    .card .thumb { width:200px; float:left;}
    .card .thumb img {width: 200px}
    .card .thumb .small-thumbs {overflow:hidden;}
    .card .thumb .small-thumbs > div {float:left; height:60px; width:calc(50% - 2px); overflow:hidden;}
    .card .thumb .small-thumbs > div:first-child{margin-right:4px;}
    .card .thumb .small-thumbs > div img {width:100%;}
    .card .content {width:calc(100% - 575px); float:left; box-sizing:border-box; padding-left:16px;}
    .card .content .name {font-size:14px; margin-bottom:4px;}
    .card .content .address {font-size:12px; color:#999;}
    .card .content .stars {white-space: no-wrap; display:block; margin-top:4px;}
    .card .content .stars i {font-size:13px; color:#d41200}
    
    .card .qual {width:175px; float:left; box-sizing:border-box;}
    .card .qual i {font-size:16px; display:inline-block; vertical-align:top; padding-top:2px;}
    .card .qual .badge {font-size:18px; font-weight:bold; display:inline-block; vertical-align: top;}
    .card .qual .score {font-size:18px; font-weight:bold; display:inline-block; vertical-align: top}
    .card .content .neighbourhood {font-size:13px;vertical-align: top;}
    .card .content .poi {font-size:12px; color:#555; margin-top:6px; }
    .card .content .poi .name {font-size:12px;}
    .card .content .poi .walking, .card .content .poi .driving, .card .content .poi .transit {font-size:11px; color:#999; margin-right:8px;}
    .card .content .poi i {font-size: 13px}
    .transport.poi .name:hover {cursor:pointer; color:#026dc5;}
    .badge {}

    .card .price {width:200px; float:left; box-sizing:border-box; text-align:right; padding-right:8px;}


            .card .price .specialDeal .total {color:#d41200; font-weight:bold; font-size:24px;}
            .card .price .specialDeal .description {color:#d41200; font-size:12px; display:block; font-weight:bold; margin-bottom:4px;}
            .card .price .specialDeal .strikethrough {color:#555; font-size:16px; text-decoration: line-through}
            .card .price .standard {font-weight:bold; font-size:24px;}
            .card .price .disclaimer {font-size:11px; color:#999;}

    .card .price .disclaimer {font-size:11px; color:#999;}
    button.primary {background-color: #026dc5; display:inline-block; margin-top:16px; color:#fff; padding:4px 8px; font-size:14px; border:0; border-radius:4px; font-family: arial; border-bottom: solid 2px #000}

/* Overlay */
#overlay {position:fixed; top:0; left:0; right:0; bottom:0; background-color:#000; opacity:0.8; display:none; }
#overlay:hover {cursor:pointer;}
#modal {position: fixed;
width: 320px;
top: 0  ;
left: 50%;
margin-left: -160px; display:none; background-color:#fff; padding:16px;}

#modal ul li {list-style-type: none; padding:12px; margin-bottom:12px; border:solid 1px #ccc; color:#026dc5; border-radius:4px;}
#modal ul li:hover {cursor:pointer;}
#modal ul li.selected {background-color:#026dc5; color:#fff;}

/* guides */
#guides {position:fixed; top:50px; bottom:50px; left:50px; right:50px;  background-color:#fff; border-radius:4px; display:none;}

.labels {background-color:#026dc5; color:#fff; font-weight:bold; font-size:12px; padding:2px 4px; border-radius:2px;}
.labels-landmarks {background-color:#fff; color:#000; font-weight:bold; font-size:8px; padding:2px 2px; border-radius:50%; border-bottom:solid 1px #999;}

#neighbourhoods {overflow-y: scroll; position:absolute; right:0; top:0; bottom:0; width:400px; box-sizing:border-box; background-color:#f5f4f0; 
    -webkit-box-shadow: -2px 0px 3px 0px rgba(204,204,204,1);
-moz-box-shadow: -2px 0px 3px 0px rgba(204,204,204,1);
box-shadow: -2px 0px 3px 0px rgba(204,204,204,1);}
#neighbourhood-header, #neighbourhood-content-header {position:absolute; top:0; left:0; right:0; min-height:20px; background-color: #026dc5; color:#fff; box-sizing:border-box; padding:8px 8px 0;}
#neighbourhood-content-header {display:none;}
#neighbourhood-list {box-sizing:border-box; position:absolute; top:40px; bottom:0; left:0; right:0; overflow-y:scroll; padding:8px;}

.neighbourhood-card {overflow:hidden; padding:0; border:solid 1px #ddd; background-color:#fff; margin-bottom:8px;}
.neighbourhood-card .image {width:30%; overflow:hidden; height:80px; float:left; box-sizing: border-box; display:none;}
.neighbourhood-card .image img {height:100%;}
.neighbourhood-card .content { box-sizing: border-box; padding:8px 16px;}
.neighbourhood-card h3 {margin:8px 0 4px; padding:0; font-size:12px; }
.neighbourhood-card .content ul {list-style-type: none; margin:0; padding:0;}
.neighbourhood-card .content ul li {font-size:12px; margin-bottom:4px;}
.neighbourhood-card .content ul.tags li {font-size:12px; font-weight:normal;}
.neighbourhood-card .content ul.landmarks li {}
.neighbourhood-card .content ul.landmarks li .fa-university {font-size:10px; margin-right:8px;}

.neighbourhood-card  .name {margin-bottom:0; color:#026dc5; padding:8px 16px; font-weight:bold; border-bottom:solid 1px #eee; }
.neighbourhood-card  .name .num { font-size:12px; display:inline-block; vertical-align:top; background-color:#026dc5; color:#fff; padding:4px 6px; margin-right:8px; border-radius:2px;}
.neighbourhood-card  .name .title { font-size:14px; display:inline-block; vertical-align:top; padding:2px 0 0 0;}

.neighbourhood-card button {background-color:#026dc5; color:#fff; margin-left:16px; font-size:12px; padding:4px 8px; border-radius: 4px; border:0; border-bottom:solid #000 2px; margin-bottom:8px;}
.neighbourhood-card button:hover {cursor:pointer;}

.shopfor {background-color:#f5f4f0; position:absolute; bottom:0; left:0; right:0; padding:16px 8px; display:none; 
    -webkit-box-shadow: 0px -2px 2px 0px rgba(204,204,204,1);
-moz-box-shadow: 0px -2px 2px 0px rgba(204,204,204,1);
box-shadow: 0px -2px 2px 0px rgba(204,204,204,1);}
.shopfor button {background-color:#026dc5; color:#fff; font-size:14px; padding:4px 8px; border-radius: 4px; border:0; border-bottom:solid #000 2px;}
.shopfor button:hover {cursor:pointer;}

.tags {margin:0; padding:0;}
.tags li {display:inline-block; list-style-type: none; padding:0; margin:0; padding:0; margin-right:16px; border-radius:4px; font-size:13px; font-weight:bold; margin-bottom:4px;}

#neighbourhood-content {box-sizing:border-box; background-color:#fff; position:absolute; top:40px; bottom:0; left:0; right:0; overflow-y:scroll; padding-bottom:40px;}
#neighbourhood-content h2 {margin:0 0 16px 0; padding:0; font-size:20px;}
#neighbourhood-content h3 {margin:0 0 8px 0; padding:0; font-size:16px;}
#neighbourhood-content ul.landmarks {list-style-type: none;}
#neighbourhood-content ul.landmarks li {margin-bottom:8px; font-size:13px; no-repeat;}
#neighbourhood-content ul.landmarks li .type {font-size:12px; color:#999;}

#landmark-list {box-sizing:border-box; position:absolute; top:100px; bottom:0; left:0; right:0; overflow-y:scroll; padding:8px;}
.landmark-card {overflow:hidden; padding:12px; border:solid 1px #ddd; background-color:#fff; margin-bottom:8px;}
.landmark-card .type {margin:0; padding:0; color:#555; font-size:12px;}
.landmark-card h3 {margin:4px 0; padding:0;}

/*.neighbourhood-card h2 {margin:0; padding:8px; background-color:#000; color:#fff; font-size:14px;}
.neighbourhood-card h3 {margin:0 0 4px; padding:4px 0; color:#000;  font-size:14px;}
.neighbourhood-card {margin-bottom:8px; padding:8px 0; border-bottom:solid 1px #eee;}

.neighbourhood-card .image {position:relative; display:inline-block; vertical-align:top;}
.neighbourhood-card .image img.thumb {}
.neighbourhood-card .image img.map {display:inline-block; vertical-align: top}
.neighbourhood-card .name {color:#000; font-weight: bold; font-size:18px; position:absolute; top:12px; left:0px; padding:8px;  max-width:200px;}
.neighbourhood-card .content {box-sizing: border-box; padding-left:8px; width:600px;}
.tags {margin:0; padding:0;}
.tags li {list-style-type: none; display:inline-block; padding:0; margin:0; background-color:#eee; padding:4px 8px; margin-right:4px; border-radius:4px; font-size:14px; font-weight:bold; margin-bottom:8px;}
.neighbourhood-card p.description {line-height: 20px; padding-right:16px;}
.landmarks li {list-style-type: none; margin-bottom:4px;}
.prices li {list-style-type: none; margin-bottom:4px;}







